{% extends "base.html" %}

{% block meta %}

<style type="text/css">
            body, html
            {
                margin: 0; padding: 0; height: 100%; overflow: hidden;
            }

            #content
            {
                position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
            }
</style>

{% endblock %}

{% block title %}{% endblock %}


{% block content %}


    
    <div id="content">
                <iframe width="100%" height="100%" frameborder="0" src="https://docs.google.com/spreadsheets/d/11f8Nr-FehZDT7j-tK_tQSf2bNkwZmNpRQa55-6wYeRg/edit#gid=0" />
    </div>
    
    
{% endblock %}


{% block script %}

{% endblock %}
