{% extends "base.html" %}

{% block meta %}

	<meta name="description" content="NewsMeme.in | NewsMeme is the best way to stay updated with what's happening in the world and where via byte sized, location aware, crisp news videos about your favourite topics in your favourite languages."/>

	<meta itemprop="name" content="{{main_object.video_title}}">
	
	<meta itemprop="description" content="{{main_object.video_script}}">

	<meta itemprop="image" content="https://i.ytimg.com/vi/{{main_object.youtube_id | foo}}/hqdefault.jpg">

	<meta property="og:title" content="{{main_object.video_title}}"/>
	<meta property="og:description" content="{{main_object.video_script}}"/>
	<meta property="og:image" content="https://i.ytimg.com/vi/{{main_object.youtube_id | foo}}/hqdefault.jpg"/> 
	<meta property="og:site_name" content="NewsMeme.in"/> 

	<meta property="og:url" content="http://newsmeme.in/{{main_object.objectId | foo}}/{{title}}" />
	<meta property="article:author" content="http://facebook.com/{{narrator_object.fb_id}}" />
	<meta property="article:publisher" content="https://www.facebook.com/newsmemedotin"/>

	<meta property='og:video' content='http://www.youtube.com/v/{{main_object.youtube_id | foo}}?version=3'/>
	<meta property='og:video:height' content='360'/>
	<meta property='og:video:type' content='application/x-shockwave-flash'/>
	<meta property='og:video:width' content='640'/>
	<meta property='og:type' content='video'/>

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@newsmemedotin" />
	<meta name="twitter:title" content="{{main_object.video_title}}" />
	<!-- <meta name="twitter:description" content="" /> -->
	<meta name="twitter:description" content="{{main_object.video_script}}" />
	<meta name="twitter:image" content="https://i.ytimg.com/vi/{{main_object.youtube_id | foo}}/hqdefault.jpg" />
					
	<meta name="viewport" content="width=320, initial-scale=1">



{% endblock %}

{% block style %}

<style type="text/css">
	.title{
		font-weight: bolder;
		text-align: justify;
		color: black;
	}

	.summary{
		color: black;
		font-size: 15px;
		text-align: justify;
	}
	.screen{
		background: black;
	}
	.screen::-webkit-scrollbar { 
	    display: none; 
	}
	.narrator{
		color: purple;
		font-size: 12px;
		text-align: left;
	}
	
	.desc1{
		font-size: 27px;
		color: purple;
	}
	.desc2{
		font-size: 15px;
	}
	#next{
		position: fixed;
		top:50%;
		right: 5px;
	}
	#vertical_video{
		width: 100%;
		height: 100%;
		border: 2px black dashed;
	}
	.marvel-device{
		max-height: 600px !important;
	}
</style>

{% endblock %}

{% block title %}{{main_object.video_title}} | NewsMeme.in : Video News Summaries{% endblock %}


{% block content %}

	<div class="marvel-device nexus5">
	    <div class="top-bar"></div>
	    <div class="sleep"></div>
	    <div class="camera"></div>
	    <div class="sensor"></div>
	    <div class="speaker"></div>
	    <div class="screen">

	        <!-- <iframe width="853" height="480" src="https://www.youtube.com/embed/{{main_object.youtube_id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe> -->

	        <video id='vertical_video' autoplay>
	          <source src="{{main_object.raw_video_vertical_url}}" type="video/mp4">
	        	Your browser does not support the video tag.
	        </video>

	        <!-- <div class='phone_content'>
		        <p class="title">asdasd {{main_object.video_title}}</p>
		        <hr>
		        <p class='summary'>{{main_object.video_script}}</p>
		        <br>
		        <p class="narrator">
		        	<b>Memed by</b> {{narrator_object.name}}
		        </p>
		    </div> -->

	    </div>
	    <div class="home"></div>
	</div>
    
    <!-- TODO
		1) Add a modal to menu buttons (or we can just hyperlink)
		2) Add a next button
		3) Horizontal scrolling div showcasing latest content.
		4) On small screen change the css a bit (but including bootstrap css changes the layout a bit, might have to recreate it a bit)
     -->

    
{% endblock %}


{% block script %}

	<script type="text/javascript">
		$('#vertical_video').click(function(){this.paused?this.play():this.pause();});

	</script>
{% endblock %}
