{% extends "base_3.html" %}

{% block meta %}

	<meta name="description" content="NewsMeme.in | Video News Summaries"/>
	<meta itemprop="name" content="{{main_object.video_title}}">
	
	<meta itemprop="description" content="{{main_object.video_script}}">

	<meta itemprop="image" content="https://i.ytimg.com/vi/{{main_object.youtube_id | foo}}/hqdefault.jpg">

	<meta property="og:title" content="{{main_object.video_title}}"/>
	<meta property="og:description" content="{{main_object.video_script}}"/>
	<meta property="og:image" content="https://i.ytimg.com/vi/{{main_object.youtube_id | foo}}/hqdefault.jpg"/> 
	<meta property="og:site_name" content="NewsMeme.in"/> 

	<meta property="og:url" content="http://newsmeme.in/{{main_object.objectId | foo}}" />
	<meta property="article:author" content="http://facebook.com/{{narrator_object.fb_id}}" />
	<meta property="article:publisher" content="https://www.facebook.com/newsmemedotin"/>

	<meta property='og:video' content='http://www.youtube.com/v/{{main_object.youtube_id | foo}}?version=3'/>
	<meta property='og:video:height' content='360'/>
	<meta property='og:video:type' content='application/x-shockwave-flash'/>
	<meta property='og:video:width' content='640'/>
	<meta property='og:type' content='video'/>

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@newsmemedotin" />
	<meta name="twitter:title" content="{{main_object.video_title}}" />
	<!-- <meta name="twitter:description" content="" /> -->
	<meta name="twitter:description" content="{{main_object.video_script}}" />
	<meta name="twitter:image" content="https://i.ytimg.com/vi/{{main_object.youtube_id | foo}}/hqdefault.jpg" />
					
	<meta name="viewport" content="width=320, initial-scale=1">



{% endblock %}

{% block style %}

<style type="text/css">
	.title{
		font-weight: bolder;
		text-align: justify;
		color: black;
	}

	.summary{
		color: black;
		font-size: 15px;
		text-align: justify;
	}
	.screen{
		border: 5px white;
		background: white;
		overflow-y:scroll;
	}
	.screen::-webkit-scrollbar { 
	    display: none; 
	}
	.narrator{
		color: purple;
		font-size: 12px;
		text-align: left;
	}
	.phone_content{
		padding: 5px;
	}
	.desc1{
		font-size: 27px;
		color: purple;
	}
	.desc2{
		font-size: 15px;
	}
	#next{
		position: fixed;
		top:50%;
		right: 5px;
	}
	.header{
		padding:2px;
		font-size: 11px;
	}
</style>

{% endblock %}

{% block title %}{{main_object.video_title}} | NewsMeme.in : Video News Summaries{% endblock %}


{% block content %}

	<div class="marvel-device s5 white">
	    <div class="top-bar"></div>
	    <div class="sleep"></div>
	    <div class="camera"></div>
	    <div class="sensor"></div>
	    <div class="speaker"></div>
	    <div class="screen">
	        <!-- Content goes here -->
	        
	        <p class='header'>NewsMeme</p>

	        <iframe width="853" height="480" src="https://www.youtube.com/embed/{{main_object.youtube_id}}?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

	        <div class='phone_content'>
		        <p class="title">{{main_object.video_title}}</p>
		        <hr>
		        <p class='summary'>{{main_object.video_script}}</p>
		        <br>
		        <p class="narrator">
		        	<b>Memed by</b> {{narrator_object.name}}
		        </p>
		    </div>

	        <script data-cfasync="false">
	          (function(r,e,E,m,b){E[r]=E[r]||{};E[r][b]=E[r][b]||function(){
	          (E[r].q=E[r].q||[]).push(arguments)};b=m.getElementsByTagName(e)[0];m=m.createElement(e);
	          m.async=1;m.src=("file:"==location.protocol?"https:":"")+"//s.reembed.com/G-Xwv02A.js";
	          b.parentNode.insertBefore(m,b)})("reEmbed","script",window,document,"api");
	        </script>

	    </div>
	    <div class="home"></div>
	</div>
    
    <!-- TODO
		1) Add a modal to menu buttons (or we can just hyperlink)
		2) Add a next button
		3) Horizontal scrolling div showcasing latest content.
		4) On small screen change the css a bit (but including bootstrap css changes the layout a bit, might have to recreate it a bit)
     -->

    
{% endblock %}


{% block script %}

	<script type="text/javascript">
		

	</script>
{% endblock %}
